    /*FOOTER*/
    
    footer {
        background: rgb(101, 15, 151);
        padding: 40px 0;
    }
    
    .foot {
        margin: 1px;
        max-width: 1000px;
        padding: 0 10px;
        display: flex;
        align-items: left;
        flex-wrap: wrap-reverse;
        color: white;
font-size: 28px;
    }
    
    .social a {
        color: dodgerblue;
        margin: 25px;
        
        transition: 0.3s ease-in;
        text-decoration: none;
        align-items: flex-start;
    }
    /*FOOTER*/