 form {
     background: center;
     align-items: center;
     align-content: center;
     font-family: century gothic;
     font-size: larger;
     font-style: normal;
 }
 
 .menubar {
     background-color: rgb(101, 15, 151);
     margin: auto;
     text-align: left;
     padding: 40px;
     color: white;
     font-size: 38px;
     font-family: century gothic;
     text-shadow: blueviolet;
 }
 
 fieldset {
     background-color: #fff;
     line-height: 40px;
 }
 
 .btn {
     color: #fff;
     float: left;
     width: 70px;
     height: 40px;
     border-radius: 15%;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgb(142, 35, 204);
 }
 
 .pic {
     float: right;
     width: 285px;
     height: 450px;
     box-shadow: blueviolet 3px;
     border-color: blueviolet 5px;
 }
 /*FOOTER*/
 
 footer {
     background: rgb(101, 15, 151);
     padding: 40px 0;
     font-family: century gothic;
 }
 
 .foot {
     margin: 1px;
     max-width: 1000px;
     padding: 0 10px;
     display: flex;
     align-items: left;
     flex-wrap: wrap-reverse;
     color: white;
 }
 
 .social a {
     color: dodgerblue;
     margin: 25px;
     font-size: 30px;
     transition: 0.3s ease-in;
     text-decoration: none;
     align-items: flex-start;
 }