body {
    margin: 0;
    padding: 40px;
    font-family: Candara;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

.LOGIN {
    font-family: Century Gothic;
    font-size: 36;
    width: 500px;
    background-color: rgb(108, 19, 160);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: hidden;
    border-color: rgb(108, 19, 160);
}

h1 {
    float: top;
    color: white;
    padding: 10px;
}

.logbtn {
    color: rgb(160, 48, 224);
    float: center;
    width: 60px;
    height: 40px;
    border-radius: 20%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.logbtn :hover {
    background-color: blueviolet;
    color: #fff;
}

.bimg {
    filter: blur(4px);
    -webkit-filter: blur(8px);
}