    * {
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }
    
    body {
        background-size: cover;
        font-family: century gothic;
        background-position: center;
        transition: 0.2s ease-in;
    }
    /*menubar*/
    
    .menu-bar {
        background-color: rgb(101, 15, 151);
        text-align: center;
        color: #fff;
    }
    
    .menu-bar ul {
        list-style: none;
        display: inline-flex;
        text-align: center;
        transition: 0.3s ease-in;
    }
    
    .menu-bar ul li {
        width: 120px;
        margin: 10px;
        padding: 30px;
        font-size: 26px;
        float: left;
    }
    
    .menu-bar ul li a {
        text-decoration: none;
        position: absolute;
        color: #fff;
        display: block;
    }
    
    .active,
    .menu-bar ul li a:hover {
        background: rgb(160, 48, 224);
        border-radius: 15px;
        border-top: transparent;
    }
    /*dropdown*/
    
    .drop {
        float: left;
        overflow: hidden;
    }
    
    .drops {
        text-decoration: none;
        color: #fff;
        display: none;
        box-shadow: 0px 2px 5px 0px;
    }
    
    .drops a {
        text-decoration: none;
        display: inline-flex;
        text-align: left;
        float: none;
    }
    
    .drops a:hover {
        background-color: blueviolet;
        position: absolute;
    }
    
    .drop:hover .drops {
        display: block;
    }
    /*Searchbar*/
    
    .search-bar {
        float: right;
        text-align: center;
        padding-top: 0px;
        margin-top: 20px;
    }
    
    .search-txt {
        flex: 1;
        margin-left: 0px;
        padding: 18px 40px;
        font-size: 16px;
        color: black;
        background: #fff;
        border: none;
        font-weight: 700;
        outline: none;
        border-radius: 5px;
        min-width: 260px;
    }
    
    .sbtn {
        color: rgb(160, 48, 224);
        float: right;
        width: 50px;
        height: 50px;
        border-radius: 20%;
        display: flexbox;
        justify-content: center;
        align-items: center;
        background: #fff;
    }
    
    .sebtn {
        color: rgb(101, 15, 151);
        float: right;
        width: 20px;
        height: 40px;
        border: rgb(101, 15, 151);
        border-radius: 20%;
        display: flexbox;
        justify-content: center;
        align-items: center;
        background: rgb(101, 15, 151);
    }
    
    .content {
        clear: right;
        padding-left: 1px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    
    .content2 {
        clear: right;
        padding-left: 1px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    
    .gallery {
        border: 1px solid beige;
        width: 200px;
        float: left;
        line-height: initial;
    }
    
    .gallery img {
        width: 250px;
        height: 335px;
        box-shadow: 3px black;
    }
    
    .gallery img:hover {
        border: 5px black;
        width: 255px;
    }
    
    .des {
        padding: 10px;
        text-align: left;
        font-size: large;
    }
    
    .btn {
        color: rgb(160, 48, 224);
        float: center;
        margin: 30px;
        width: 80px;
        height: 50px;
        border-radius: 20%;
        box-shadow: inset black;
        display: flexbox;
        justify-content: center;
        align-items: center;
        background: #fff;
    }
    /*FOOTER*/
    
    footer {
        background: rgb(101, 15, 151);
        padding: 40px 0;
    }
    
    .foot {
        margin: 1px;
        max-width: 1000px;
        padding: 0 10px;
        display: flex;
        align-items: left;
        flex-wrap: wrap-reverse;
        color: white;
        font-size: 26px;
    }
    
    .social a {
        color: dodgerblue;
        margin: 25px;
        font-size: 30px;
        transition: 0.3s ease-in;
        text-decoration: none;
        align-items: flex-start;
    }
    /*FOOTER*/