#hiderow,
.delete {
  display: none;
}


.search-txt {
        flex: 1;
        margin-left: 0px;
        padding: 18px 40px;
        font-size: 16px;
        color: black;
        background: #fff;
        border: none;
        font-weight: 700;
        outline: none;
        border-radius: 5px;
        min-width: 260px;
    }
    
    .sbtn {
        color: rgb(160, 48, 224);
        float: right;
        width: 50px;
        height: 50px;
        border-radius: 20%;
        display: flexbox;
        justify-content: center;
        align-items: center;
        background: #fff;
    }
    
    .sebtn {
        color: rgb(101, 15, 151);
        float: right;
        width: 20px;
        height: 40px;
        border: rgb(101, 15, 151);
        border-radius: 20%;
        display: flexbox;
        justify-content: center;
        align-items: center;
        background: rgb(101, 15, 151);
    }